.content {
    max-width: 100vw;
}
.input {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#control_game {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
#control_level {
    display: none;
}
.control-game-pole {
    width: 100%;
    margin-top:10px;
    margin-bottom:10px;
    display:flex;
    justify-content: space-evenly;
}
#nextLevel {
    width: 100%;
    margin: 0 auto;
    font-size: 1.5rem;
    height: 30px;
    background: palegreen;
    border: 1px solid yellowgreen;
}

#play {
     /*    margin: 5px; */
     margin-top 15px;
        font-size: 1.5rem;
        min-width: 100px;
        height: 30px;
        background: palegreen;
        border: 1px solid yellowgreen;
}
.control-game-pole input[type=range] {
    margin-right: 30px;
    max-width: 30%;
}
#control_game {
    font-size: 2rem;
}
.img-control-game {
    width: 20px;
}
#playing_field {
    border: 3px solid #000;
    width: max-content;
    min-height: max-content;
    margin: 0 auto;
    box-sizing: border-box;
}
.playing_field_rows {
    background-image: url('../img/bombermen/fon.jpg');
    background-size: contain;
    display: flex;
    flex-direction: column;
}
.playing_field_row {
    display: flex;
}
.playing_field_row div {
    text-align: center;
    font-size: 0.5rem;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    transition: 1.5s;
}
.playing_field_row .selectDivPlayer {
    background-image: url('../img/bombermen/player.png');
    background-size: 100%;
    background-repeat: no-repeat;
    border: 2px solid #fff;
    border-radius: 30px;
}
.playing_field_row .selectDivMonster {
    background-image: url('../img/bombermen/monster.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .8;
}
.playing_field_row .selectDivWall {
    background-image: url('../img/bombermen/wall.jpg');
    background-size: contain;
    border: 1px solid #000;
    box-sizing: border-box;
}
.playing_field_row .selectDivBox {
    background-image: url('../img/bombermen/box.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}
.playing_field_row .selectDivBomb {
    background-image: url('../img/bombermen/bomb.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
@keyframes anime {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 0.35;
    }
    30% {
        opacity: 0.75;
    }
    45% {
        opacity: 1;
    }
    60% {
        opacity: 0.75;
    }
    75% {
        opacity: 0.35;
    }
    100% {
        opacity: 0.15;
    }
}
.playing_field_row .explosionBomb {
    background-image: url('../img/bombermen/explosion.png');
    background-size: 100%;
    background-repeat: no-repeat;
    animation: anime infinite 1.5s linear;
}
.playing_field_row .deadFromBombPlayer {
    background-image: url('../img/bombermen/pepel.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.playing_field_row .deadFromMonsterPlayer {
    background-image: url('../img/bombermen/dead.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.playing_field_row .deadFromBombMonster {
    background-image: url('../img/bombermen/pepel_monster.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.playing_field_row .selectDivMonsterSpeed {
    background-image: url('../img/bombermen/bag.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.playing_field_row .addExplosion{
    background-image: url('../img/bombermen/addExplosion.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}
.playing_field_row .addLifePlayer{
    background-image: url('../img/bombermen/life.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.playing_field_row .selectDivBombX2{
    background-image: url('../img/bombermen/bombX2.png');
    background-size: 100%;
    background-repeat: no-repeat;
}